.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  transition: opacity 5s; 
}

.modal.show {
  display: block;
}

.modal-content {
  background-color: #33445c;
  width: 40vw;
  height: 100vh;
  position: fixed;
  top: 50%;
  right: -300px;
  transform: translateY(-50%);
  border-radius: 20px 0px 0px 20px;
  padding: 20px;
  transition: right 3s;
}

.modal.show .modal-content {
  right: 0;
}